<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=storagetest007;AccountKey=YZPrqHpCjZTKijNah9GaG4EHL23ozSrdtR+3G6xYGHnkHn9lmObpZJ+nGh4vEFKTPNM8CBQUp+7A1aUYqPEy8A==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>